animeflv==0.3.1
asgiref==3.8.1
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
cloudscraper==1.2.71
Django==5.0.7
ffmpeg==1.4
idna==3.7
lxml==5.2.2
mutagen==1.47.0
pillow==11.0.0
pycryptodomex==3.20.0
pyparsing==3.1.2
pytube==15.0.0
requests==2.32.3
requests-toolbelt==1.0.0
soupsieve==2.5
sqlparse==0.5.1
urllib3==2.2.2
websockets==12.0
yt-dlp==2024.8.6
